<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Wallet Management</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>

<body>
    <%- include("header"); -%>
    <div class="registration-form">
        <h1>Wallet Management</h1>
        <div>
            <% if (locals.success) { %>
            <div class="alert-success"><%= success %></div>
            <form action="<%= process.env.awsLambdaPath %>/wallet/" method="GET">
                <input type="submit" value="View user wallet">
            </form>
            <% } %>
        </div>
    </div>
</body>

</html>