<!DOCTYPE html>
<html>

<head>
  <title>Customer portal</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style>
  .table {
    width: 70% !important
  }

  .display-4 {
    text-align: center;
  }

  #wrap {
    float: left;
    position: relative;
    left: 55%;
  }

  #content {
    float: left;
    position: relative;
    left: -50%;
  }
</style>

<body>
  <%- include("header"); -%>

  <div>
    <% if (locals.success) { %>
    <div class="alert-success">Welcome <%= success %></div>
    <% } %>
  </div>

  <div align="center">
    <h1>Welcome to the Online Shopping portal</h1>
    <br>
    <br>
    <h5>Please Sign In to place the order!</h5>
    <br>
    <h5>If you are a new user please, Sign Up.</h5>
    <br>
    <h6>Happy ordering!</h6>
    <br>
    </div>
  <div id="wrap">
    <div id="content">
    <h5>Sign Up Instructions:</h5>
    <ol>
    <li>Your password must be:</li>
      <ul>
    <li>at least 6 characters long            </li>
    <li>contain at least 1 lowercase character</li>
    <li>contain at least 1 uppercase character</li>
    <li>contain at least one special character</li>
      </ul>
    <li>Youu must choose one of the available Security Questions</li>
    <li>You must answer your Security Question</li>
    </ol>
    </div>
    <br>
  </div>
  </div>
</body>

</html>
